.swiperWrapper {
  width: 85% !important;
  margin: 0 auto;
}
.swiper-button-prev,
.swiper-button-next {
  color: #000; 
  z-index: 10; 
}

.swiper-button-prev {
  left: -20px; 
}

.swiper-button-next {
  right: -20px;
}