@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: url('../../public/static/background-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #373b64;
  height: 100%;
}

